{% extends "main/base.html" %}
{% block content %}
{% load static %}

<div class="container">
{% if user.is_authenticated %}
<h2 style="margin: 20px 0;">{{project.title}}</h2>
<a class="btn btn-primary" href="{% url 'project:addsocialnetwork' project.id %}">Add a social network</a>
<ul style="margin-top: 10px;" class="list-group">
    {% for profile in profiles %}
	<li class="list-group-item"><a href="#">{{profile.name}} ({{profile.network}})</a></li>
	{% endfor %}
</ul>
{% else %}
<h2>Forbidden</h2>
{% endif %}
</div>

{% endblock %}